body {
    background: #ece7e7;
    touch-action: none;
    overflow-y: hidden;
    height: 100%;
}

.zwift-app {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.disabled {
    filter: grayscale(100%);
}

.fan-checkbox {
    background-color: #FFE0D0;
    border: 1px solid #FC6719;
    position: relative;
    
    & input {
        display: none;
    }
    & input + label {
        display: inline-block;
        width: 80px;
        height: 30px;
        cursor: pointer;

        &::before {
            content: " ";
            position: absolute;
            top: 2px;
            left: 2px;
            width: 36px;
            bottom: 2px;
            background-color: #FC6719;
            pointer-events: none;
        }
    }

    & input:checked + label::before {
        left: 42px;
    }
}

.fan-heartrate {
    position: relative;
    
    & input {
        display: none;
    }
    & input + label {
        display: inline-block;
        cursor: pointer;
        margin: 1px;
        width: 30px;
        height: 30px;
        background-image: url(../../img/heart-rate.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        filter: grayscale(100%);
    }

    & input:checked + label {
        filter: none;
    }
}