@import 'variables.css';
:root {
    --slider-width: calc(var(--slider-panel) - 2 * var(--padding));
}

.fan-speed {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    width: var(--main-panel);
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    padding: calc(55 + var(--padding)) var(--padding) var(--padding) var(--padding);

    & .status {
        position: absolute;
        z-index: 10;
        top: 10px;
        left: 10px;
        right: 10px;
        text-align: center;
        padding: 5px 10px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & .speed {
            margin: auto 0;
            font-size: 1.5em;
        }
    }

    & .slider {
        width: var(--slider-width);
        height: 100%;
        background: white;
        margin: 0 auto;

        & .handle {
            width: var(--slider-width);
            height: var(--slider-width);
            background-image: url(/img/fan.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            cursor: pointer;
        }

        &.disabled .handle {
            cursor: default;
        }
    }

    &.fan-2 .handle {
        animation: spin 2.6s linear infinite;
    }

    &.fan-3 .handle {
        animation: spin 2.2s linear infinite;
    }

    &.fan-4 .handle {
        animation: spin 1.8s linear infinite;
    }

    &.fan-5 .handle {
        animation: spin 1.5s linear infinite;
    }

    &.fan-6 .handle {
        animation: spin 1.2s linear infinite;
    }

    &.fan-7 .handle {
        animation: spin 0.95s linear infinite;
    }

    &.fan-8 .handle {
        animation: spin 0.75s linear infinite;
    }

    &.fan-9 .handle {
        animation: spin 0.6s linear infinite;
    }

    &.fan-10 .handle {
        animation: spin 0.5s linear infinite;
    }
}

@keyframes spin {
    100% { transform: rotate(360deg); }
}
